.playlist {
  display: flex;
  flex-direction: column;
}

.track {
  background: white;
  box-shadow:
  0 0.7px 0.5px -15px rgba(0, 0, 0, 0.01),
  0 1.5px 1.1px -15px rgba(0, 0, 0, 0.014),
  0 2.6px 1.9px -15px rgba(0, 0, 0, 0.017),
  0 4.1px 3px -15px rgba(0, 0, 0, 0.02),
  0 6.4px 4.6px -15px rgba(0, 0, 0, 0.023),
  0 9.9px 7.2px -15px rgba(0, 0, 0, 0.026),
  0 16.5px 12px -15px rgba(0, 0, 0, 0.03),
  0 33px 24px -15px rgba(0, 0, 0, 0.04)
;
  a {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 200px 1fr;
    }
  }

  div {
    padding: 1rem;
  }

  small {
    color: hsl(0, 0, 50%);
  }

  + .track {
    margin-top: 1rem;
  }

}