* {
  box-sizing: border-box;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 150%;
}

body {
  font: 1em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 800px;
  margin: 0 auto;
  padding: 6rem 1rem;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0, 20%);
  letter-spacing: .03em
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

small {
  font-size: .875rem;
}

